In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

# Read Campsites Data

In [2]:
df1 = gpd.read_file('/Users/sharondodda/Documents/Practicum/Campgrounds/Campgrounds.shp')
df = df1.to_crs(epsg=4326) #wgs84
df.head()

,FID,Campground,GISID,TYPE,SUBTYPE,UNITNBR,DETAIL,UNITNAME,SHARE,GlobalID,WHAT3WORD_,geometry
0,1032,"Sunrise Sites 7,8,9",GIS0141381,Environmental Camp Area,Not Defined,231,"Sunrise Sites 7,8,9",Angel Island SP,NaN,{8061AF5C-114E-4015-9893-3FDDEA749D7D},suffice.farms.bride,POINT (-122.42473 37.86168)
1,1033,"Eastbay Sites 1, 2, 3",GIS0006389,Environmental Camp Area,Not Defined,231,"Eastbay Sites 1, 2, 3",Angel Island SP,NaN,{42ED8B6A-4061-481F-9812-241C1791565C},brave.cooks.lands,POINT (-122.42456 37.86424)
2,1034,Kayak Camp (Group),GIS0006390,Environmental Camp Area,Not Defined,231,Kayak Camp (Group),Angel Island SP,NaN,{7E37C81B-7D63-4949-82B1-30AB012368C6},clues.ruins.link,POINT (-122.44053 37.86247)
3,1035,"Ridge Sites 4 ,5, 6",GIS0006391,Environmental Camp Area,Not Defined,231,"Ridge Sites 4 ,5, 6",Angel Island SP,NaN,{760EAADC-C31C-4B40-A854-FC5E5EE27EBA},worker.taking.home,POINT (-122.43931 37.85798)
4,1036,Ritchey Creek Campground,GIS0006395,Developed Family Camp Area,Not Defined,240,Ritchey Creek Campground,Bothe-Napa Valley SP,NaN,{33405E5D-FFD3-473D-BD6E-8727DA417939},camels.just.continues,POINT (-122.52569 38.54953)

In [3]:
df = df.set_geometry('geometry')
df = df[['Campground', 'geometry']]
df.head()

                 Campground                     geometry
0       Sunrise Sites 7,8,9  POINT (-122.42473 37.86168)
1     Eastbay Sites 1, 2, 3  POINT (-122.42456 37.86424)
2        Kayak Camp (Group)  POINT (-122.44053 37.86247)
3       Ridge Sites 4 ,5, 6  POINT (-122.43931 37.85798)
4  Ritchey Creek Campground  POINT (-122.52569 38.54953)

In [4]:
df.shape

(520, 2)

In [5]:
bears = pd.read_csv('data/final_df_copy.csv')
bears['dist_from_campsite'] = ''

In [6]:
for i in range(bears.shape[0]):
    bear_point = gpd.points_from_xy([bears.iloc[i,0]], [bears.iloc[i,1]])
    dist = 1000000
    for j in range(df.shape[0]):
        dist = min(dist, df.iloc[j,-1].distance(bear_point[0]))
    bears.iloc[i,-1] = dist * 0.000621 # convert to miles
    # bears.iloc[i,-1] = dist

In [7]:
bears.head()

,latitude,longitude,year,month,dayofweek,county,dist_from_water,landcode,label,dist_from_campsite
0,36.56076,-118.76760,2006,6,1,Tulare,43.0,52,1,0.133035
1,37.77060,-119.51077,2007,9,4,Mariposa,185.0,52,1,0.133892
2,37.77060,-119.51077,2009,6,6,Mariposa,185.0,52,1,0.133892
3,37.66534,-119.72488,2007,9,5,Mariposa,185.0,42,1,0.13394
4,39.43248,-122.97443,2011,8,4,Lake,201.0,52,0,0.136146

In [9]:
bears.to_csv('data/final_final_df.csv', index=False)

In [43]:
df = pd.read_csv('data/inat/inat_04252023.csv')
df1 = df.iloc[0:5,:].copy()
df1

,id,observed_on_string,observed_on,time_observed_at,time_zone,user_id,user_login,user_name,created_at,updated_at,...,geoprivacy,taxon_geoprivacy,coordinates_obscured,positioning_method,positioning_device,species_guess,scientific_name,common_name,iconic_taxon_name,taxon_id
0,1006,2006-06-27 18:38:17,2006-06-27,2006-06-28 01:38:17 UTC,Pacific Time (US & Canada),1,kueda,Ken-ichi Ueda,2008-12-16 07:08:31 UTC,2021-01-26 21:44:34 UTC,...,NaN,open,False,NaN,NaN,Ours noir,Ursus americanus,American Black Bear,Mammalia,41638
1,12388,2007-09-07,2007-09-07,NaN,Pacific Time (US & Canada),710,johngcramer,John Cramer III,2011-03-07 04:37:36 UTC,2021-08-17 23:13:26 UTC,...,NaN,open,False,NaN,NaN,California Black Bear,Ursus americanus californiensis,California Black Bear,Mammalia,126772
2,13610,2009-06-14,2009-06-14,NaN,Pacific Time (US & Canada),933,chriswbrown,Chris Brown,2011-04-02 04:50:53 UTC,2021-08-18 21:21:48 UTC,...,NaN,open,False,NaN,NaN,American black bear,Ursus americanus,American Black Bear,Mammalia,41638
3,31134,2007-09-22,2007-09-22,NaN,Pacific Time (US & Canada),2873,jmaughn,James Maughn,2011-09-15 01:53:48 UTC,2021-01-26 21:44:15 UTC,...,NaN,open,False,NaN,NaN,American Black Bear,Ursus americanus,American Black Bear,Mammalia,41638
4,34586,2011-08-12,2011-08-12,NaN,Pacific Time (US & Canada),3161,greenrosettas,Chris Cook,2011-10-09 09:34:05 UTC,2018-06-21 16:09:31 UTC,...,NaN,open,False,NaN,NaN,American Black Bear,Ursus americanus,American Black Bear,Mammalia,41638

In [44]:
df1 = df1[['latitude','longitude']]
df1

    latitude   longitude
0  36.560760 -118.767601
1  37.770596 -119.510771
2  37.770596 -119.510771
3  37.665342 -119.724884
4  39.432481 -122.974434

In [12]:
from tqdm import tqdm
from geopy.geocoders import Nominatim

In [15]:
import time

In [45]:
geolocator = Nominatim(user_agent="cdfw-model")
county = []
geocoords = df1[['latitude', 'longitude']].values
for elems in tqdm(geocoords):
    tracker = False
    address, _ = geolocator.reverse((f'{elems[0]}, {elems[1]}'))
    address = address.split(',')
    for i in address:
        if 'county' in i.lower():
            tracker = True
            county_name = i.strip().strip('County').strip()
            continue
    
    if tracker:
        county.append(county_name)
    else:
        county.append('')
    
    time.sleep(0.5)

print(county)
df1 = pd.concat([df1, pd.Series(county, name='county')], axis=1)

100%|█████████████████████████████████████████████| 5/5 [00:03<00:00,  1.56it/s]

['Tulare', 'Mariposa', 'Mariposa', 'Mariposa', 'Lake']

In [46]:
df1

    latitude   longitude    county
0  36.560760 -118.767601    Tulare
1  37.770596 -119.510771  Mariposa
2  37.770596 -119.510771  Mariposa
3  37.665342 -119.724884  Mariposa
4  39.432481 -122.974434      Lake